on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '25.x'

      - name: Install typescript
        run: npm i --no-save typescript

      - name: Build dep-diff
        run: npm run build

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dep-diff-build
          path: dist/
          include-hidden-files: true
          retention-days: 1
          if-no-files-found: error

  test:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '25.x'

      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: dep-diff-build
          path: dist/

      - name: Run tests
        run: npm ci && npm run test
